body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  10%;
  bottom-margin: 30%;
  color: #FEF2BF;
  border: 5px solid black;
  border-radius: 0%;
}

h3 {

  font-family: 'Press Start 2p', cursive;
  font-size: 5px;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 10px;
  display: inline-block;
  height: 150px;
  width: 159px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  margin-top: 30px;
}

.green {
  background-color: green;
  margin-top: 30px;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
